<% content_for :tools do %>
  <%= form_for(@document) do |f| %>

    <% if @document.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
        <ul>
        <% @document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class ="row">
      <div class="col-sm-10">
        <div class="form-group">
          <%= f.label :date %><br>
          <%= f.text_field :date, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :amount %><br>
          <%= f.text_field :amount, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :currency_id %><br>
          <%= f.collection_select :currency_id, @document.currencies.order(:name), :id, :name, {include_blank: true}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :category_id %><br>
          <%= f.collection_select :category_id, @document.available_categories.order(:name), :id, :name, {include_blank: true}, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.fields_for :image do |image_form| %>
            <%= image_form.file_field :image, accept: 'image/jpeg,image/gif,image/png', onchange: 'submit_form(this)', id: "image_image", class: "form-control" %>
          <% end %>
        </div>
        <% if can? :update, Document %>
          <div class="actions">
            <%= f.submit t(:button_update, scope: [:edit]), {class: "btn btn-primary", id: 'update_document'}  %>
          </div>
        <% end %>
        <%= link_to t(:button_back, scope: [:edit]), documents_path, class: :"btn btn-primary btn-md", role: :"button", id: "back_link", "data-no-turbolink": '' %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <%= react_component('StateBox', props = {currentState: @document.workflow_state,
                                              nextStates: @next_states,
                                              documentId: @document.id}) %>
    <div class="image-div span12">
      <%= react_component('EditBox', props = {update: "#{can? :update, Document}",
                                              class: "img-responsive edit_pic",
                                              data: @document.image.image_url,
                                              src: @document.image.image_url(:medium),
                                              image_id: @document.image_id },
                                     html_options = {id: 'edit_box', class: 'image-div span12'}) %>
      <span id="save_token"> <%= csrf_meta_tags %> </span>
    </div>
      <p id="notice" class="notice-edit-image"><%= notice %></p>
  </div>
</div>
