<% if can? :create, Document %>
  <%= form_for Image.new do |f| %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', onchange: 'submit_form(this)', multiple: true %>
    <%= button_tag t(:button_upload, scope: [:documents]), type: :button, onclick: "browse_image()", class: :"btn btn-primary btn-upload" %>
  <% end %>
<% end %>

<%= button_to t(:button_new, scope: [:documents]), new_document_path, type: :button, class: "btn btn-primary btn-create", method: :get %>
