<div class="row">
  <div class="col-sm-6">
    <div class="for-buttons">
      <%= render 'upload_form' %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= paginate @documents %>
  </div>
</div>
<div class="container" id="posts">
  <ul class="row page list-img pagination">
    <% @documents.each do |document| %>
      <li class="col-sm-3 post image">
        <%= link_to image_tag(document.image.image.blank? ? 'Image_upload.png' : document.image.image_url(:small)), edit_document_path(document) %>
        <% if can? :delete, Image %>
          <%= link_to document_path(document), method: :delete, class: "close", data: {confirm: "Are you sure you want to permanently delete this document?"} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<p id="notice"><%= notice.html_safe if notice %></p>
<div class="for-buttons">
  <%= render 'upload_form' %>
</div>
