<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="loading">
  <div id="wrapper">
    <div id="bg"></div>
    <div id="overlay"></div>
    <div id="main">
      <header id="header">
        <h1>EXPENSES</h1>
        <p> <%= t :login_prompt, scope: [:sign_in] %> </p>
        <nav>
          <ul>
            <li>
              <%= link_to user_omniauth_authorize_path(:facebook), class: "fa fa-facebook" do %>
                <span class="label">Facebook</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "fa fa-google" do %>
                <span class="label">Gmail</span>
              <% end %>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>
<div>

