.list-img li {
  list-style: none;
  margin-bottom: 20px;
}

.list-img img {
  cursor: pointer;
}

.pagination {
  text-align: right;
  width: 100%;
}

.edit_pic {
  margin: auto;
  max-height: 100%;
}

#edit_box, #inner_image {
  margin: auto;
}

#inner_edit {
  margin: auto;
  display: block;
}

.btn-upload, .btn-create {
  margin: 10px;
}

.upload-edit {
  text-align: center;
}

.notice-edit-image {
  display: inline;
}

@media (min-height: 500px) {
  .image-div {
    max-height: 80vh;
  }
}

#rotate_left {
  transform: scaleX(-1);
  margin: 3px;
}

#rotate_right, #change, #save {
  margin: 3px;
}

#image_angle_form {
  display: inline-block;
}

.rotate-form {
  padding-left: 20px;
  display: inline-block;
}

.image-div {
  height: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

@media (max-width: 500px) {
  .edit_pic {
    max-width: 90vw;
    max-height: 90vw;
  }
  .image-div {
    width: 90vw;
    height: 90vw;
  }
}

.for-buttons {
  display: inline-flex;
}

.field {
  width: 25%;
}

.category_col {
  width: 75px;
}

#back_link {
  color: white;
}

.btn-state {
  margin: 3px;
}

.glyphicon-arrow-right {
  margin-right: 3px;
}

.state-box {
  text-align: center;
  margin: 5px;
}

#current_state {
  margin: 5px;
  display: inline-block;
  margin-bottom: 0;
}

.locale-button-container {
  padding: 5px 10px 5px 5px;
}

.locale-button {
  padding: 0px 0px 0px 0px !important;
  font-size: smaller;
}

.locale-button-container a:link, a:visited {
  text-decoration: none !important;
}

.locale-button-container a:hover {
  background-color: transparent !important;
  color: white !important;
}
