// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signing_link {
  font-size: 18px;
}

.login_name {
  font-size: 18px;
  color: #ABABAB;
  padding-top: 15px;
}

.image {
  position: relative;
}

.close {
  position: absolute;
  left: -10%;
  z-index: 1000;
}

ul.pagination > li > a.close {
  color: #000000;
}

.close {
  position: static;
}

.close:hover {
  background-color: transparent;
}
