<!DOCTYPE html>
<html>
<head>
  <title> <%= t :title, scope: [:navbar] %> </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t(:title, scope: [:navbar]), '#', class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="locale-button-container">
            <ul>
              <li> <%= link_to 'EN', '?locale=en', {class: "locale-button", "data-no-turbolink": ''} %> </li>
              <li> <%= link_to 'UK', '?locale=uk', {class: "locale-button", "data-no-turbolink": ''} %> </li>
            </ul>
          </li>
        <%- if user_signed_in? %>
          <li class="login_name"><%= current_user.name %></li>
          <li><%= link_to destroy_user_session_path, class: "signing_link", method: :delete do %>
            <i class="fa fa-power-off"></i>
          <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to user_omniauth_authorize_path(:facebook), class: "signing_link" do %>
              <i class='fa fa-facebook-square fa-lg'></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "signing_link" do %>
              <i class='fa fa-google fa-lg'></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div id="section" class="container-fluid">
  <div id="main-row" class="row">
    <% if content_for?(:tools) %>
      <div id="tools" class="col-md-4">
        <%= yield :tools %>
      </div>
      <div id="content" class="col-md-8">
    <% else %>
      <div id="content" class="col-md-12">
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash[:error] %>
      </div>
    <% end %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
